.swiper-button-prev::after{
  padding:5px;
  font-size:18px;
  left:0
}
.swiper-button-prev{
  display:flex;
  left:0;
  justify-content: center;
  align-items: center;
  color:#F7A582;
  border: 1px solid #F7A582;
  border-radius: 50%;
  width: 30px;
  height:30px;
}

.swiper-button-next::after{
  padding:5px;
  font-size:18px;
  right:0
}
.swiper-button-next{
  display:flex;
  right:0;
  justify-content: center;
  align-items: center;
  color:#F7A582;
  border: 1px solid #F7A582;
  border-radius: 50%;
  width: 30px;
  height:30px;
}